.accordions-holder {
    margin-left: 25px;
    margin-top: -10px;
}
.accordions {
    width: 300px;
    background-color: #0B0B0B;
}
.accordions-holder h1 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}
.accordions-wrapper {
    width: 300px;
    float: left;
    margin-right: 7px;
    -moz-box-shadow: 15px 15px 15px black;
    -webkit-box-shadow: 15px 15px 15px black;
    box-shadow: 15px 15px 15px black;
}
.ui-accordion .ui-accordion-header {
    border-top: 1px dotted rgb(63, 63, 71);
    font-weight: normal;
}
.ui-accordion .ui-accordion-header:first-of-type {
    border-top: none;
}
.ui-accordion .ui-accordion-content {
    background-color: #111111;
    padding: 8px;
    border: 1px solid #1f1f1f;
    font-size: 15px;
    margin: 0px 2px 5px 2px;
}



.topBoxWrapper,
.bottomBoxWrapper {
    display: none;
}
#content {
    background-color: transparent;
    padding-top: 1px;
    border: none;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ Headers styles @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.rightPartHeader {
    height: 50px;
    border-top: 1px solid #333333;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: black url('../images/right_part_header_background.png') left top repeat-x;
}
.grey .upperLeftBorder{
    background-image: linear-gradient(left , rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    background-image: -o-linear-gradient(left , rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    background-image: -moz-linear-gradient(left , rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    background-image: -webkit-linear-gradient(left , rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    background-image: -ms-linear-gradient(left , rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    background-image: linear, left top, left bottom, from(rgba(51, 51, 51, 0)), to(rgba(51, 51, 51, 1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00333333,endColorstr=#FF333333,GradientType=1);
}
.grey .upperCenterLeftBorder{
    background-image: linear-gradient(left, #333333, #959595);
    background-image: -o-linear-gradient(left, #333333, #959595);
    background-image: -moz-linear-gradient(left, #333333, #959595);
    background-image: -webkit-linear-gradient(left, #333333, #959595);
    background-image: -ms-linear-gradient(left, #333333, #959595);
    background-image: linear, left top, left bottom, from(#333333), to(#959595);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#959595,GradientType=1);
}
.grey .upperCenterRightBorder {
    background-image: linear-gradient(left, #959595, #333333);
    background-image: -o-linear-gradient(left, #959595, #333333);
    background-image: -moz-linear-gradient(left, #959595, #333333);
    background-image: -webkit-linear-gradient(left, #959595, #333333);
    background-image: -ms-linear-gradient(left, #959595, #333333);
    background-image: linear, left top, left bottom, from(#959595), to(#333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#959595,endColorstr=#333333,GradientType=1);
}
.grey .upperRightBorder {
    background-image: linear-gradient(left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    background-image: -o-linear-gradient(left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    background-image: -moz-linear-gradient(left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    background-image: -webkit-linear-gradient(left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    background-image: -ms-linear-gradient(left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    background-image: linear, left top, left bottom, from(rgba(51, 51, 51, 1)), to(rgba(51, 51, 51, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF333333,endColorstr=#00333333,GradientType=1);
}
#rightPartHeaderContent {
    color: #bfbfbf;
    font-size: 20px;
    font-family: 'Droid Sans', sans-serif;
    padding: 10px;
}