AuthName "Page d'administration protégée"
AuthType Basic
AuthUserFile "/home/a9276338/public_html/WebConcept/.htpasswd"
Require valid-user
ErrorDocument 400 http://james.site11.com/WebConcept/erreur.php?erreur=400
ErrorDocument 401 http://james.site11.com/WebConcept/erreur.php?erreur=401
ErrorDocument 402 http://james.site11.com/WebConcept/erreur.php?erreur=402
ErrorDocument 403 http://james.site11.com/WebConcept/erreur.php?erreur=403
ErrorDocument 404 http://james.site11.com/WebConcept/erreur.php?erreur=404
ErrorDocument 405 http://james.site11.com/WebConcept/erreur.php?erreur=405
ErrorDocument 500 http://james.site11.com/WebConcept/erreur.php?erreur=500
ErrorDocument 501 http://james.site11.com/WebConcept/erreur.php?erreur=501
ErrorDocument 502 http://james.site11.com/WebConcept/erreur.php?erreur=502
ErrorDocument 503 http://james.site11.com/WebConcept/erreur.php?erreur=503
ErrorDocument 504 http://james.site11.com/WebConcept/erreur.php?erreur=504
ErrorDocument 505 http://james.site11.com/WebConcept/erreur.php?erreur=505