/*---------------------------------------------------------------*/
/* GENERAL STYLES
/*---------------------------------------------------------------*/
/*.iphorm-container{width:350px;}*/
.iphorm-wrapper{width:400px;padding-bottom:25px;margin-top:10px;width:100%;}
.iphorm-inner{padding-top:10px;padding-right:25px;padding-bottom:20px;margin:0;width:100%;}
.iphorm { margin:0px auto auto 23px;}
.titre_contact
{
    color:white;
}

/*---------------------------------------------------------------*/
/* INPUT, SELECT, and TEXTAREA
/*---------------------------------------------------------------*/
.iphorm-inner .input-wrapper input,.iphorm-inner .input-wrapper select,.iphorm-inner .input-wrapper textarea{
    -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 5px; /* FF1-3.6 */
    border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    color:white;
    margin-bottom:5px;
    border:1px solid #4d4d4d;
    background-color:#1f1f1f;
    background-image: linear-gradient(bottom, rgb(74,72,74) 0%, rgb(28,28,27) 47%, rgb(0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(74,72,74) 0%, rgb(28,28,27) 47%, rgb(0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(74,72,74) 0%, rgb(28,28,27) 47%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(74,72,74) 0%, rgb(28,28,27) 47%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(74,72,74) 0%, rgb(28,28,27) 47%, rgb(0,0,0) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(74,72,74)), color-stop(0.47, rgb(28,28,27)), color-stop(1, rgb(0,0,0)));
    font-family: 'Oswald', sans-serif;
    font-size:16px;
    outline:none;
}
.input-wrapper textarea{

}

.iphorm-inner label.check-box input{width:20px;}
.iphorm-inner input#subject{float:left;}
.iphorm-inner .captcha-element-wrapper input{width:85px;}
.iphorm-inner select option{margin:4px;}
.iphorm-inner .input-wrapper input {width:39px;}



/*---------------------------------------------------------------*/
/* LABELS
/*---------------------------------------------------------------*/
.iphorm-inner .element-wrapper label
{
    /*    font-weight:700;*/

}
.iphorm-inner label.check-box{display:block;font-weight:400;}
.iphorm-inner .required{color:#999;font-size:11px;font-style:italic;font-weight:400;}



/*---------------------------------------------------------------*/
/* ERRORS
/*---------------------------------------------------------------*/
.iphorm-inner ul.form-errors{display:none;margin:0;padding:0;}
.iphorm-inner ul.form-errors li{
    background-image: url('../images/err.png');
    width: 198px;
    background-repeat: no-repeat;
    background-position: 5px center;
    list-style-type: none;
    color: #C00;
    background-color: #F3CAC7;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0px 0px 0px 192px;
    padding: 4px 9px 4px 27px;
}
.iphorm-inner div.error-message{background-color:#F3CAC7;border:1px solid #FF7E7E;margin-bottom:5px;}
.iphorm-inner div.message{padding:5px;}



/*---------------------------------------------------------------*/
/* NON-JS ERROR MESSAGE
/*---------------------------------------------------------------*/
.iphorm-inner ul.errors-no-js li{margin-left:0;line-height:22px;list-style-type:none;font-weight:700;padding:0 0 4px;}
.iphorm-inner ul.errors-no-js li ul li{background-image:url('../images/err.png');background-repeat:no-repeat;background-position:5px center;list-style-type:none;color:#C00;line-height:19px;background-color:#F3CAC7;display:inline-block;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:5px 0 0;padding:3px 10px 3px 30px;}



/*---------------------------------------------------------------*/
/* MISC FORM STYLES
/*---------------------------------------------------------------*/
.iphorm-inner .message-element{height:69px;width:340px;}
.iphorm-inner .element-wrapper{margin-bottom:5px;}
.iphorm-inner .input-wrapper{margin-top:0px;}
.iphorm-inner a.cancel-button{background-image:url('../images/close.png');background-repeat:no-repeat;background-position:0 0;float:left;height:16px;width:16px;margin-top:4px;}
.iphorm-inner .element-wrapper p.description{font-size:11px;font-style:italic;margin:2px;padding:0;}



/*---------------------------------------------------------------*/
/* BUTTON STYLES
/*---------------------------------------------------------------*/
.iphorm-inner .submit-button-input-wrapper{height:32px;font-size:15px;}
.iphorm-inner .submit-button-input-wrapper input{cursor:pointer;display:inline-block;margin-top:5px;font-size:.8em;}
.iphorm-inner .submit-button-wrapper div.loading-wrapper{float:left;padding-top:8px;font-style:italic;}



/*---------------------------------------------------------------*/
/* CAPTCHA
/*---------------------------------------------------------------*/
.iphorm-inner .captcha-img{float:left;margin-right:10px;margin-top:1px;margin-bottom:1px;}
.iphorm-inner .input-wrapper .captcha-element {width:110px;}



/*---------------------------------------------------------------*/
/* SUCCESS MESSAGE
/*---------------------------------------------------------------*/
.iphorm-inner .success-message{font-weight:700;padding-left:25px;padding-top:3px;padding-bottom:3px;background-image:url('../images/success.png');background-repeat:no-repeat;background-position:left center;}
.iphorm-inner .success-message img{float:left;margin-bottom:10px;margin-right:10px;}
.iphorm-inner div.multi_select-input-wrapper select{height:75px;width:350px;}
.iphorm-inner .captcha-hidden-wrapper,.iphorm-inner .submit-button-wrapper div.loading-wrapper .loading{display:none;}

.message_green{
    width:220px;
    font-size:15px !important;
    font-weight:600 !important;
    background: url("../images/success.png") no-repeat scroll 20px center #DFE9B7;
    border: 1px solid #BAC398;
    color: #333333;
    margin: 20px 0 25px -59px;
    padding: 20px 20px 20px 60px !important;
    border-radius: 5px 5px 5px 5px;

}