/*
    Document   : Stylesheet for the file index.php
    Created on : 2012-03-11, 03:35:55
    Author     : James Maheux
    Description:
        This stylesheet contains the style that are specific
        to the index.php page.
*/

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.content1 {
    display: table;
    margin: 0;
}
h1 {

}
h2 {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}
.slices h1 {
    margin: -25px 0 0 20px;
    position: relative;
    z-index: 2;
    font-family: 'Righteous', cursive;
    font-size: 39px;
}
#slice1 .firstTitle {
    margin: 25px 0px 10px 0px;
}
#slice1 img {
    max-width: 580px;
    width: 100%;
    margin: auto;
    display: block;
}
#slice1 .secondTitle {
    float: right;
    margin-top: -70px;
}
#slice2 .firstTitle {
    margin: 30px 0px 10px 0px;
}
#slice2 img {
    max-width: 315px;
    width: 100%;
    margin: 25px auto 0 auto;
    display: block;
}
#slice2 .secondTitle {
    float: right;
    margin-top: 30px;
}
#slice3 .firstTitle {
    margin: 17px 0px 10px 0px;
}
#slice3 img {
    max-width: 315px;
    width: 100%;
    margin: 5px auto 0 auto;
    display: block;
}
#slice3 .secondTitle {
    float: right;
    margin-top: 0px;
}
.slices {
    margin: auto;
    display: none;
    z-index: 4;
    padding: 0 10px;
}